.idea
*.sdi
*.log


mysql/data/*
mysql/logs/*

elasticsearch/data/*

redis/data/*
redis/logs/redis.log

mongodb/db/*
mongodb/logs/mongod.log

clickhouse/data/*
clickhouse/logs/*


runserver -h 0.0.0.0 -p 5001 --debugger --reload
PYTHONUNBUFFERED=1;YISONAR_ENV=dev;LC_ALL=C.UTF-8;LANG=C.UTF-8;FLASK_ENV=1

