version: '3.6'

services:
  zookeeper:
    image: zookeeper
    container_name: zookeeper
    ports:
      - "2181:2181"
    environment:
      TZ: "Asia/Shanghai"
    volumes:
      - ./zookeeper/data:/data
      - ./zookeeper/log:/datalog
    restart: unless-stopped
    
  kafka:
    image: wurstmeister/kafka
    container_name: kafka
    ports:
      - "9092:9092"
    environment:
      TZ: "Asia/Shanghai"
      KAFKA_ADVERTISED_HOST_NAME: "192.168.60.4"
      KAFKA_ZOOKEEPER_CONNECT: "zookeeper:2181"
      KAFKA_LOG_DIRS: "/kafka/kafka-logs-1"
    volumes:
      - ./kafka/logs:/kafka/kafka-logs-1
    depends_on:
      - zookeeper
    restart: unless-stopped

networks:
  default:
      name: docker-env_default